<div class="header__navbar navbar">
  <div class="navbar__block">
    <div class="navbar__logo-block">
      <img class="navbar__logo" src="" alt="logo">
    </div>
    <nav class="navbar__nav-block">
      
      <ul class="navbar__nav">
        <li class="navbar__nav-item">
          <a class="navbar__nav-link" href="#">Page</a>
        </li>
        <li class="navbar__nav-item navbar__nav-dropdown-item">
          <a class="navbar__nav-link" href="#">
            Page dropdown 
            <img src="../img/chevron-down-solid.svg" alt="img">
          </a>
          <ul class="navbar__sub-nav">
            <li class="navbar__sub-nav-item">
              <a class="navbar__subnav-link" href="#">sub nav item</a>
            </li>
            <li class="navbar__sub-nav-item">
              <a class="navbar__subnav-link" href="#">sub nav item</a>
            </li>
            <li class="navbar__sub-nav-item">
              <a class="navbar__subnav-link" href="#">sub nav item</a>
            </li>
          </ul>
        </li>
        <li class="navbar__nav-item">
          <a class="navbar__nav-link" href="#">Page</a>
        </li>
        <li class="navbar__nav-item navbar__nav-dropdown-item">
          <a class="navbar__nav-link" href="#">Page dropdown</a>
          <ul class="navbar__sub-nav">
            <li class="navbar__sub-nav-item">
              <a class="navbar__subnav-link" href="#">sub nav item</a>
            </li>
            <li class="navbar__sub-nav-item">
              <a class="navbar__subnav-link" href="#">sub nav item</a>
            </li>
            <li class="navbar__sub-nav-item">
              <a class="navbar__subnav-link" href="#">sub nav item</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navbar__nav-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

