/* === START fonts === */
/* === END fonts === */
/* === START reset default browser styles === */
/* === END reset default browser styles === */
/* === START icons === */
/* === END icons === */
/* === START global styles === */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style-type: none;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "", serif;
  overflow-x: hidden;
  height: 100%;
}

body.body-locked {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  width: 80%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* === END global styles === */
/* === START navbar styles === */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: teal;
}
.navbar__block {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}
.navbar__nav-btn {
  display: none;
}
.navbar__nav {
  position: relative;
  margin-left: 20px;
}
.navbar__nav-link {
  position: relative;
}
.navbar__nav-link > img {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 12px;
}
@media screen and (min-width: 767px) {
  .navbar__nav {
    display: flex;
    align-items: center;
  }
  .navbar__nav-item {
    margin-left: 30px;
  }
  .navbar__sub-nav {
    position: absolute;
    top: 100%;
    background: red;
    padding: 15px 10px;
    width: max-content;
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
  }
}
@media screen and (max-width: 767px) {
  .navbar__nav-block {
    position: fixed;
    overflow: auto;
    top: 85px;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    background: seagreen;
  }
  .navbar__nav-block-active {
    left: 0;
  }
  .navbar__nav-btn {
    display: block;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
  }
  .navbar__nav-btn > span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
  }
  .navbar__nav-btn > span:nth-child(2) {
    top: 50%;
  }
  .navbar__nav-btn > span:nth-child(3) {
    top: 100%;
  }
  .navbar__nav-btn-active {
    transition: 0.3s ease;
  }
  .navbar__nav-btn-active > span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  .navbar__nav-btn-active > span:nth-child(2) {
    opacity: 0;
  }
  .navbar__nav-btn-active > span:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  .navbar__nav {
    width: 80%;
    margin: 0 auto;
  }
  .navbar__sub-nav {
    display: none;
    width: 100%;
  }
  .navbar__nav-dropdown-item-active > .navbar__sub-nav {
    display: block;
  }
}

body.pc .navbar__nav-dropdown-item:hover > .navbar__sub-nav {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* === END navbar styles === */
/* === START hero section === */
.header {
  background: firebrick;
}

/* === END hero section === */
/* === START footer styles === */
.footer {
  height: 10vh;
  background: tomato;
}

/* === END footer styles === */